<h1>All Articles</h1>

<%= will_paginate %>

<ul class="articles">
  <% @articles.each do |article| %>
    <li> <%= link_to User.find(article.user_id).name, User.find(article.user_id) %><br/>
	 	 <%= link_to article.title, article %><br/>
		 <%= article.content %></li><br/><br/>
  <% end %>
</ul>

<%= will_paginate %>