<% provide :title, "New Article" %>
<h1>New Article</h1>
<%= form_for(:aricle, url: articles_path) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>