<% provide :title, "Change Password" %> 
<h1>Change Password</h1>

<%= form_for @user do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.text_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>