<% provide :title, "Edit user" %> 
<h1>Edit user</h1>

<%= form_for @user, :html => { :multipart => true } do |f| %>
  <%= render 'shared/error_messages' %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.file_field :image %><br />
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :about_me %><br />
    <%= f.text_field :about_me %>
  </div>
  <div class="field">
    <%= f.label :interests %><br />
    <%= f.text_field :interests %>
  </div>
    <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<%= link_to "Change Password", changepassword_path %>
