<% provide :title, @user.name %>
<table class="profile">
  <tr>
    <td class="main">
      <h1>
        <%= @user.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @user.name %><br />
	   <strong>About Me</strong> <%= @user.about_me %><br/>
      <strong>Twitter</strong> <%= @user.twitter_id %><br/>
      <strong>Interests</strong> <%= @user.interests %><br/>
      <strong>URL</strong>  <%= link_to user_path(@user), @user %><br/>
    </td>
  </tr>
</table>