<% provide :title, @user.name %>
<div class="content">
  <div id="topcontent">

    <div class="profileinfo">
    <h1 id="name"> <%= @user.name %> </h1>

      <div class="about">
       <p><span class="aboutword">About</span> <%= @user.about_me %> </p>
      </div>

    <%= render '/shared/stats' %>
    <%= render 'follow_form' if signed_in? %>
    </div>
    <%= render 'users/my_projects' %>
  </div>
    <%= render 'users/my_articles' %>
</div>