<div class="sure">
  <aside class="okay4">
    <section>
      <h1><%= @user.name %></h1>
      <span><%= link_to "view my profile", @user %></span><br/>
      <span><b>Articles:</b> <%= @user.articles.count %></span>
    </section>
    <section>
      <%= render 'shared/stats' %>
      <% unless @users.empty? %>
      <% end %>
    </section>
  </aside>
  <div class="okay8">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users">
		<% @users.each do |user| %>
			<%= link_to user.name, user %><br/>
			<% end %>
      </ul>
      <%= will_paginate @users %>
    <% end %>
  </div>
</div>