<%= form_for(@project) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :money_wanted %><br />
    <%= f.number_field :money_wanted %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>