<h1>All Projects</h1>

<%= will_paginate %>

<ul class="projects">
  <% @projects.each do |project| %>
    <li> <%= link_to User.find(project.user_id).name, User.find(project.user_id) %><br/>
	 	 <%= link_to project.title, project %><br/>
		 <%= project.content %></li><br/>
		Money Wanted: <%= project.money_wanted %><br/><br/>
  <% end %>
</ul>

<%= will_paginate %>