<!DOCTYPE html>
<html>
  <head>
    <%= render 'stylesheets' %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
	<link href='http://fonts.googleapis.com/css?family=Questrial'
		rel='stylesheet'type='text/css'>
  </head>
  <body>
	
	<div class="outercontainer">
	</div>
	
    <div class="container">
      <%= render 'layouts/header1' %>

        <%= yield %>
      <%= render 'layouts/footer' %>
    </div>

  </body>
</html>