<!DOCTYPE HTML>
<html>

<head>
    <title>Printless TempHomepage</title>
    <%= render 'layouts/stylesheets' %>
    <%= javascript_include_tag "temp_homepage" %>
    <%= csrf_meta_tags %>

</head>

<body>
	
	<div id="contentwrapper">
	<div class="tempcontainer">
		<%= render 'temp_homepage/header' %>
	<div class="content">
		<%= render 'temp_homepage/content' %>
	</div>
</div>
</div>	
</body>